body {
  background-color: #C2CCED;
  color: #3D3D3D;
  font-family: Arial, sans-serif; 

}


a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.0rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #0000FF; 
  background-color: white; 
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: gray; 
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}



.image-profile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-profile-grid img {
  width: 30%;
  object-fit: cover; /* Optional: Preserve aspect ratio and crop image if necessary */
  /*border: 3px solid #DB9200;*/
  border: 3px solid #ffdf00;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


img {
  border: 5px solid #555;
}

.row {
  display: flex;
  align-items: center;
}

.row img {
  /*width: 100px; /* adjust as needed */
  width: 23%;
  height: auto;
  margin-left: 20px; /* adjust as needed */
  border: 3px solid #ffdf00;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto; /* add this line */
}


.textbox {
  width: 70%;
  margin-left: 20px; /* adjust as needed */
  border: 3px solid black;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto; /* add this line */
}

@media (max-width: 1200px) {

  body {
          font-size: 23px;
  }
}