body {
  /*background-color: #C2CCED;*/
  background-color: #fff8e7;
  color: #3D3D3D;
  font-family: Arial, sans-serif; 
  /*font-family: "Lucida Console", "Courier New", monospace; */
  font-size: 20px;

}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}


.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-grid img {
  width: 30%;
  padding: 1%;
  border: 3px solid #555;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.0rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #0000FF; 
  background-color: white; 
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: gray; 
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}

@media (max-width: 1200px) {

  body {
          font-size: 38px;
  }
}