/* Night mode styles */
body {
  background-color: #1c1c1c;
  color: #f2f2f2;
  font-family: Arial, sans-serif; 
  /*font-family: "Lucida Console", "Courier New", monospace; */
}

a:link {
  color: #00bfff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #00bfff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #00bfff;
  background-color: transparent;
  text-decoration: none;
}

.image-profile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-profile-grid img {
  width: 30%;
  object-fit: cover; /* Optional: Preserve aspect ratio and crop image if necessary */
  border: 3px solid #ADD8E6;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Night mode styles */
body {
  background-color: #1c1c1c;
  color: #f2f2f2;
}

a {
  color: #00bfff;
}

h1, h2, h3 {
  color: #f2f2f2;
}

/* Add styles for other elements as needed */

img {
  border: 5px solid #555;
}

.row {
  display: flex;
  align-items: center;
}

.row img {
  /*width: 100px; /* adjust as needed */
  width: 23%;
  height: auto;
  margin-left: 20px; /* adjust as needed */
  border: 3px solid #ADD8E6;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto; /* add this line */
}


.textbox {
  width: 70%;
  margin-left: 20px; /* adjust as needed */
  border: 3px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto; /* add this line */
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.0rem;
  font-size: 0.9rem;
  font-weight: bold; 
  color: #0000FF; 
  background-color: white; 
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: gray; 
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}

@media (max-width: 1200px) {

  body {
          font-size: 23px;
  }
}