
/* Night mode styles */
body {
  background-color: #1c1c1c;
  color: #f2f2f2;
  font-family: Arial, sans-serif; 
  /*font-family: "Lucida Console", "Courier New", monospace; */
  font-size: 20px;
}

a:link {
  color: #00bfff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #00bfff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #00bfff;
  background-color: transparent;
  text-decoration: none;
}


.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-grid img {
  width: 30%;
  padding: 1%;
  /*#ADD8E6;*/
  border: 3px solid #ADD8E6;
}


.btn {
  display: inline-block;
  padding: 0.5rem 1.0rem;
  font-size: 0.9rem;
  font-weight: bold; 
  color: #0000FF; 
  background-color: white; 
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: gray; 
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}



/* Night mode styles */
body {
  background-color: #1c1c1c;
  color: #f2f2f2;
}

a {
  color: #00bfff;
}

h1, h2, h3 {
  color: #f2f2f2;
}

/* Add styles for other elements as needed */

@media (max-width: 1200px) {

  body {
          font-size: 38px;
  }
}