
/* Night mode styles */
body {
    background-color: #1c1c1c;
    color: #f2f2f2;
}

a {
    color: #00bfff;
}

h1, h2, h3 {
    color: #f2f2f2;
}

img {
    border: 5px solid #f2f2f2;
}

a:link {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }



/* Add styles for other elements as needed */

.navigation-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #353333;
    padding: 20px;
    box-sizing: border-box;
}

.navigation-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-menu li {
    margin-bottom: 55px;
}

.navigation-menu li:last-child {
    margin-bottom: 0;
}

.navigation-menu a i {
    margin-right: 10px;
    color: #ffdf00; 
    font-size: 25px;
}



@media (max-width: 1200px) {
.navigation-menu {
  position: static;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #1c1c1c;
}

.navigation-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1c1c1c;
  padding: 20px;
}

.navigation-menu li {
  margin-right: 65px;
}

.navigation-menu li:last-child {
  margin-right: 0;
}

.navigation-menu a i {
    margin-right: 10px;
    color: #ffdf00; 
    font-size: 30px;
}
}