/* Night mode styles */

:root {

  /* Night mode colors */
  --primary-color-night: #2c3e50; /* dark blue background color for night mode */
  --secondary-color-night: #34495e; /* slightly lighter blue for secondary elements in night mode */
  --accent-color-night: #f39c12; /* a brighter accent color for contrast against the dark background */
  --text-color-night: #ecf0f1; /* light color for text for better readability in night mode */

  --pink-light: #F8BBD0;
  --pink-dark: #880E4F;
  --orange-light: #FFE0B2;
  --orange-dark: #E65100;
  --purple-light: #E1BEE7;
  --purple-dark: #4A148C;
}

/* Apply background colors */
body {
  background-color: var(--primary-color-night);
  color: var(--text-color-night);
  font-family: 'Open Sans', sans-serif; /* Example font, should match the one in the second screenshot */
}


@keyframes carousel-color {
  0%, 100% {
    opacity: 0;
    transform: translateX(50%);
    color: var(--orange-light);
  }
  16% {
    opacity: 1;
    transform: translateX(0%);
    color: var(--pink-light);
  }
  33% {
    color: var(--pink-dark);
  }
  50% {
    color: var(--orange-dark);
  }
  66% {
    color: var(--purple-light);
  }
  83% {
    color: var(--purple-dark);
  }
}

#carousel span {
  display: inline-block;
  opacity: 0;
  animation: carousel-color 5s linear infinite;
  font-family: 'Helvetica', 'Arial', sans-serif; 
}


/*
@keyframes carousel {
  0%, 100% { opacity: 0; transform: translateX(50%); }
  50% { opacity: 1; transform: translateX(0%); }
}

#carousel img {
  display: none;
  opacity: 0;
  animation: carousel 2s linear infinite;
}
*/

/* You can adjust the color of the letter 'P' to match the logo */

/* If you want to ensure the whole word disappears before restarting, you can adjust the timing */

a {
    color: #00bfff;
}

h1, h2, h3 {
    color: #f2f2f2;
}

img {
    border: 3px solid #f2f2f2;
}

img.no-border {
  border: none;
}

a:link {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }

  .btn {
    display: inline-block;
    padding: 0.5rem 1.0rem;
    font-size: 0.9rem;
    font-weight: bold; 
    color: #0000FF; 
    background-color: white; 
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: gray; 
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem);
  }
  

    /* Night Mode version of the primary button */
  .primary-button.night-mode {
    background-color: #b0aeae; /* Darker background color for night mode */
    color: #fcf8f8; /* Lighter text color for contrast */
    font-size: 16px; /* Adjust as needed */
    padding: 15px 30px; /* Top/bottom padding and left/right padding */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners as before */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold; /* Bold font weight */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
    text-align: center; /* Center the text inside the button */
    display: inline-block; /* Allows setting dimensions */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    text-decoration: none; /* In case it's an anchor styled as a button */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Subtle glow effect for depth */
  }

  /* Night Mode hover effect */
  .primary-button.night-mode:hover {
    background-color: #666; /* Slightly lighter than the normal state for visibility */
  }

  /* Night Mode focus style */
  .primary-button.night-mode:focus {
    box-shadow: 0 0 0 2px #fcf8f8, 0 0 0 4px #555; /* Custom focus style for night mode */
  }

  /* Night Mode active (clicked) style */
  .primary-button.night-mode:active {
    background-color: #444; /* Even darker for the clicked effect */
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.2); /* Inset shadow for a "pressed" effect */
  }

    
input {
  border: 5px solid #ffdf00; 
  box-shadow: 2px 2px 3px #d9d9d9;
}

text {
  border: 5px solid #ffdf00; 
  box-shadow: 2px 2px 3px #d9d9d9;
}

textarea {
  border: 5px solid #ffdf00; 
  box-shadow: 2px 2px 5px 2px #d9d9d9;
}


  .badge-container {
    position: relative;
    display: inline-block;
  }

  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 50%;
  }


.text {
    position: relative;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.title {
  color: #ffdf00;
  /*color: transparent;*/
  font-size: 48px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.title span {
  position: absolute;
  opacity: 0;
  animation: fade-in 1.5s ease-in-out forwards;
}



@keyframes fade-in {
  0% {
    opacity: 0;
    /*transform: translateY(-20%);*/
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 
      0 0 1px rgba(255, 223, 0, 0.1), 
      0 0 2px rgba(255, 223, 0, 0.1),
      0 0 3px rgba(255, 223, 0, 0.1),
      0 0 4px rgba(255, 223, 0, 0.1),
      0 0 5px rgba(255, 223, 0, 0.1),
      0 0 6px rgba(255, 223, 0, 0.1),
      0 0 7px rgba(255, 223, 0, 0.1),
      0 0 8px rgba(255, 223, 0, 0.1),
      0 0 9px rgba(255, 223, 0, 0.1),
      0 0 10px rgba(255, 223, 0, 0.1),
      0 0 15px rgba(255, 223, 0, 0.1),
      0 0 20px rgba(255, 223, 0, 0.1),
      0 0 25px rgba(255, 223, 0, 0.1),
      0 0 30px rgba(255, 223, 0, 0.1);
  }
}



  


/* Add styles for other elements as needed */

.navigation-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px; 
    /*background-color: #353333; */
    /*background-color: #1c1c1c;*/
    background-color: var(--primary-color-night);
    padding: 12px;
    box-sizing: border-box;
    padding: 1rem; /* Add more padding around the items */
}

.navigation-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Adjusting the individual navigation links */
.navigation-menu a {
  margin-right: 1rem; /* Add margin to space out the icons */
  font-size: 16px; /* Adjust this as needed for desktop */
  /* Other styles... */
}


.navigation-menu li {
    margin-bottom: 55px;
}

.navigation-menu li:last-child {
    margin-bottom: 0;
}




.navigation-menu a i {
    margin-right: 10px;
    color: #ffdf00; 
    font-size: 25px;
}



@media (max-width: 1200px) {

/* Adjusting the 'new' banner */
.badge-banner {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem; /* Adjust the right margin */
    padding: 0.2rem 0.4rem; /* Add padding inside the banner for better spacing */
    /* Other styles... */
}

body {
    font-size: 38px;
}

.navigation-menu {
  position: static;
  flex-direction: row;
  width: 100%;
  height: auto; 
  background-color: var(--primary-color);
  padding: 1rem; /* Add more padding around the items */
}

.navigation-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /*Add this to VERTICALLY CENTER ALL items*/
  /*background-color: #1c1c1c;*/
  background-color: var(--primary-color);
  padding: 20px;
}

.navigation-menu ul li {
  margin: 0 auto; /* Centers each navigation item */
  padding: 0 10px; /* Adds padding between items */
}

.navigation-menu ul li:first-child { /* Add this rule to adjust the first item */
  align-self: flex-start;
}

.navigation-menu li {
  margin-right: 65px;
}

.navigation-menu li:last-child {
  margin-right: 0;
}

.navigation-menu a i {
    margin-right: 10px;
    color: #ffdf00; 
    font-size: 30px;
}
}



/* Additional responsive adjustments for the top navigation */
@media (max-width: 768px) {
  .navigation-menu a {
      margin-right: 0.5rem; /* Less margin for smaller screens */
      font-size: 4vw; /* Starts scaling as the viewport width decreases */
  }

  .badge-banner {
      margin-right: 0.5rem; /* Adjust the margin for smaller screens */
  }

  /* If the navigation menu is a flex container */
  .navigation-menu {
      justify-content: space-between; /* This will add space between menu items */
      /* Other styles... */
  }

  .navigation-menu a i {
    font-size: 25px; /* Increase the font size for small screens */
  }

}


/* Minimum font size for very small viewports */
@media (max-width: 480px) {
  .navigation-menu a {
      font-size: 12px; /* Minimum font size so text remains legible */
  }
}