
/* Night mode styles */
body {
    background-color: #1c1c1c;
    color: #f2f2f2;
    font-family: Arial, sans-serif; 
}

a {
    color: #00bfff;
}

h1, h2, h3 {
    color: #f2f2f2;
}

img {
    border: 3px solid #f2f2f2;
}

img.no-border {
  border: none;
}

a:link {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #00bfff;
    background-color: transparent;
    text-decoration: none;
  }

  .btn {
    display: inline-block;
    padding: 0.5rem 1.0rem;
    font-size: 0.9rem;
    font-weight: bold; 
    color: #0000FF; 
    background-color: white; 
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: gray; 
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem);
  }
  


  .badge-container {
    position: relative;
    display: inline-block;
  }

  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 50%;
  }
  


/* Add styles for other elements as needed */

.navigation-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #353333;
    padding: 20px;
    box-sizing: border-box;
}

.navigation-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-menu li {
    margin-bottom: 55px;
}

.navigation-menu li:last-child {
    margin-bottom: 0;
}

.navigation-menu a i {
    margin-right: 10px;
    color: #ffdf00; 
    font-size: 25px;
}



@media (max-width: 1200px) {

body {
    font-size: 23px;
}

.navigation-menu {
  position: static;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #1c1c1c;
}

.navigation-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /*Add this to VERTICALLY CENTER ALL items*/
  background-color: #1c1c1c;
  padding: 20px;
}

.navigation-menu ul li:first-child { /* Add this rule to adjust the first item */
  align-self: flex-start;
}

.navigation-menu li {
  margin-right: 65px;
}

.navigation-menu li:last-child {
  margin-right: 0;
}

.navigation-menu a i {
    margin-right: 10px;
    color: #ffdf00; 
    font-size: 30px;
}
}