/* Night mode styles */
body {
    background-color: #AFB9DB;
    color: #3D3D3D;
    /*background-image: url('https://cdn.midjourney.com/44336a7d-0d7c-4671-b13c-4af08c8c31cd/grid_0.png'); */
}
/*
a {
    color: #0011ff;
}
*/

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }



h1, h2, h3 {
    color: #3D3D3D;
    style: "font-family:verdana";

}

label {
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
  



div.a 
{
    word-wrap: normal;
}

img {
    border: 5px solid #555;
}
  
input {
    border: 5px solid #89939A;
}

text {
    border: 5px solid #89939A;
}

textarea {
    border: 5px solid #89939A;
}

div.b {
    word-wrap: break-word;
}

.ow-anywhere {
    overflow-wrap: anywhere;
}
  
.ow-break-word {
    overflow-wrap: break-word;
}
  
.word-break {
    word-break: break-all;
}
  
.hyphens {
    hyphens: auto;
}


.login-btn {
    justify-content: center;
    flex-direction: row;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(170, 170, 170);
    border-radius: 15px;
}
.btn-text {
    justify-content: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(85, 85, 85);
}