body {
    background-color: #AFB9DB;
    color: #3D3D3D;
    font-size: 20px;
    font-family: Arial, sans-serif; 
 
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }



h1, h2, h3 {
    color: #3D3D3D;
    style: "font-family:verdana";

}

label {
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
  
div.a 
{
    word-wrap: normal;
}

img {
    border: 3px solid #333;
}

img.no-border {
    border: none;
}
  
input {
    border: 5px solid #89939A;
}

text {
    border: 5px solid #89939A;
}

textarea {
    border: 5px solid #ffdf00; 
    box-shadow: 2px 2px 5px 2px #d9d9d9;
}

div.b {
    word-wrap: break-word;
}

.ow-anywhere {
    overflow-wrap: anywhere;
}
  
.ow-break-word {
    overflow-wrap: break-word;
}
  
.word-break {
    word-break: break-all;
}
  
.hyphens {
    hyphens: auto;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.0rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #0000FF; 
    background-color: white; 
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
  
.btn:hover {
    background-color: gray; 
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem);
}
  

.login-btn {
    justify-content: center;
    flex-direction: row;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(170, 170, 170);
    border-radius: 15px;
}

.btn-text {
    justify-content: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: rgb(85, 85, 85);
}


.badge-container {
    position: relative;
    display: inline-block;
  }

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 50%;
  }
  


/* Add styles for other elements as needed */

.navigation-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #AFB9DB;
    padding: 20px;
    box-sizing: border-box;
}

.navigation-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-menu a:link {
    color: #1a1aff;
}


.navigation-menu li {
    margin-bottom: 55px;
}

.navigation-menu li:last-child {
    margin-bottom: 0;
}

.navigation-menu a i {
    margin-right: 10px;
    color: #333;
    font-size: 25px;
}


@media (max-width: 1200px) {

body {
        font-size: 38px;
}

.navigation-menu {
  position: static;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #AFB9DB;
}

.navigation-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /*Add this to VERTICALLY CENTER ALL items*/
  background-color: #AFB9DB;
  padding: 20px;
}

.navigation-menu a:link {
    color: #1a1aff;
}

.navigation-menu ul li:first-child { /* Add this rule to adjust the first item */
    align-self: flex-start;
}

.navigation-menu li {
  margin-right: 65px;
}

.navigation-menu li:last-child {
  margin-right: 0;
}


.navigation-menu a i {
    margin-right: 10px;
    color: #333;
    font-size: 30px;
    text-align: center; 
  }
}