/* Night mode styles */
body {
    background-color: #AFB9DB;
    color: #3D3D3D;
    /*background-image: url('https://cdn.midjourney.com/c9b822d1-b251-4200-aa72-3362c639d0e8/grid_0.png'); */
}

a {
    color: #00bfff;
}

h1, h2, h3 {
    color: #3D3D3D;
    style: "font-family:verdana";

}

div.a 
{
    word-wrap: normal;
}

img {
    border: 5px solid #555;
}
  
input {
    border: 5px solid #89939A;
}

text {
    border: 5px solid #89939A;
}

textarea {
    border: 5px solid #89939A;
}

div.b {
    word-wrap: break-word;
}

.ow-anywhere {
    overflow-wrap: anywhere;
}
  
.ow-break-word {
    overflow-wrap: break-word;
}
  
.word-break {
    word-break: break-all;
}
  
.hyphens {
    hyphens: auto;
}


.login-btn {
    justify-content: center;
    flex-direction: row;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(170, 170, 170);
    border-radius: 15px;
}
.btn-text {
    justify-content: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(85, 85, 85);
}