<body bgcolor="#AFB9DB">
    <head>
        <title>Ernie Ho's AIGC Studio </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <br>
    </br>
    <center>
    <h2>
        <font style="font-family:verdana">
        Thanks for trying out EHO's AI Genie! 
        </font>
    </h2>
    </center>
    <br></br>
    <center>
    <h2>
        <font style="font-family:verdana">
        Your Prompt : 
        </font>
    </h2>
    </center>
    <p></p>
    <center>
    <font style="font-family:verdana">
    <textarea style="font-family:verdana" color="#0000FF" id="textprompt" rows="10" cols="80">
    {{userprompt}}
    </textarea>
    </font>
    </center>
    <br></br>
    <center>
    <h2>
        <font style="font-family:verdana">
        Our Response : 
        </font>
    </h2>
    </center>
    <p></p>
    <center>
    <em class="ow-break-word"></em>
    <textarea style="font-family:verdana" color="#0000FF" id="textresponse" rows="25" cols="80">
    {{answer}}
    </textarea>
    </em>
    <br>
    <button onclick="copyText()">Copy Response </button>
    <script>
        function copyText() {
        /* Get the textarea element */
        var textarea = document.getElementById("textresponse");
        /* Create a new clipboard item */
        navigator.clipboard.writeText(textarea.value).then(() => {
          /* Alert the user that the text was copied */
        alert("Text copied to clipboard: " + textarea.value);
        }, function(err) {
          console.error("Failed to copy text: ", err);
         });
         }
    </script>
    </center>
    <p></p>
    <center>
    <font style="font-family:verdana">
    <p> Like Our Responses?  Enter your email below and click SEND and we will send a transcript to you! </p>
    <br>
    <sub>(** Your email will be kept private and will not be shared with 3rd-party **)</sub>
    <br>
    <form method="post" action="/sendemail">
    <input type="text" id="useremail" name="useremail" maxlength="61" size="61"></input>
    <input type="hidden" id="userprompt" name="userprompt" maxlength="100" size="100" value="{{ userprompt }}"></input>
    <input type="hidden" id="answer" name="answer" maxlength="100" size="100"  value="{{ answer }}"></input>  
    <button onclick="location.href='{{ url_for('sendemail') }}'"> Send Email </button>
    </form>

    <p style="font-family:verdana"> What do you think?  </p>
    <form>
        <fieldset>
          <center><legend>Please rate our response:</legend> </center>
          <input type="checkbox" id="star1" name="rating" value="1">
          <label for="star1">1</label>
          <input type="checkbox" id="star2" name="rating" value="2">
          <label for="star2">2</label>
          <input type="checkbox" id="star3" name="rating" value="3">
          <label for="star3">3</label>
          <input type="checkbox" id="star4" name="rating" value="4">
          <label for="star4">4</label>
          <input type="checkbox" id="star5" name="rating" value="5">
          <label for="star5">5</label>
        </fieldset>
    </form>

    <center>
        <br></br>
        <p> <font style="font-family:verdana"> Beta Version 2.3 as of 
        <div id="current_date">
            <script>
                date = new Date();
                year = date.getFullYear();
                month = date.getMonth() + 1;
                day = date.getDate();
                document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
            </script>
        </div>
        </font>
        </p>
    </center>

    <br></br>
   
    <a href="https://square.link/u/NxKDrUfw"> This site stays up and running only if our users find it valuable.  Your support is greatly appreciated ! </a>
    <a href="https://square.link/u/NxKDrUfw"><img src="{{ url_for('static', filename='square-checkout.png') }}" alt="Support" style="width:42px;height:42px;"></a>
    </center>
    </font>
    <br></br>
    <center>
    <button onclick="location.href='{{ url_for('index') }}'"> Back To Home </button>
    <br></br>
    </center>

</body>