<body bgcolor="#AFB9DB">
    <head>
        <title>Ernie Ho's AIGC Studio </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='night_mode.css') }}">
    </head>
    <br>
    </br>
    <center>
    <p>
    <font style="font-family:verdana">
    <em class="ow-break-word">
    Thanks for trying out EHO's AI Genie,
    Our Sincerest apologies, something went wrong while processing your prompt.  
    </em>
    </font>
    </p>
    <center>
        <!--div class="b">
            <font style="font-family:verdana">
             Your Code =   {{userapikey}}
             </font>
        </div-->
    </center>
    <p>
    <font style="font-family:verdana">
    Please return to homepage and try again!
    </font>
    </p>
    </center>
    <p></p>
    <p></p>
    <br></br>
    <center>
    <button onclick="location.href='{{ url_for('index') }}'"> <font style="font-family:verdana"> Back To Home </font> </button>
    <button onclick="location.href='{{ url_for('conversation_nm') }}'"> <font style="font-family:verdana"> Back To Conversation </font> </button>
    <br></br>
    <br></br>
    <p> Beta version 2.1 as of 
    <div id="current_date">
        <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
        </script>
    </div>
  </p>
    </center>

</body>