<body bgcolor="#AFB9DB">
    <head>
        <title>EHO AI STUDIO No.23 </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <br>
    </br>
    <center>
    <p>
    <font >
    <em class="ow-break-word">
    Thank you for trying out EHO AI P&R Genie.  
    <p></p>
    Our sincerest apologies, it appears something went wrong while processing your prompt.  
    </em>
    </font>
    </p>
    <center>
    </center>
    <p>
    <font >
    Please return to homepage and try again.  
    </font>
    </p>
    </center>
    <p></p>
    <p></p>
    <br></br>
    <center>
    <button onclick="location.href='{{ url_for('index') }}'"> <font > Back To Home </font> </button>
    <button onclick="location.href='{{ url_for('conversation') }}'"> <font > Back To Conversation </font> </button>
    <br></br>
    <br></br>
    <p> Beta version {{app_version}} as of 
    <div id="current_date">
        <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
        </script>
    </div>
  </p>
    </center>

</body>