<body bgcolor="#C2CCED">
    <head>
        <title>EHO AI STUDIO No.23</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='night_mode.css') }}">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKZ1G64L97"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KKZ1G64L97');
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,zh-CN,zh-TW,ko,ja',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
        </script>
    </head>
    <br>
    </br>
    <center>
    <p>
    <font >
    <em class="ow-break-word">
    Thank you for trying out EHO AI P&R Genie.
    Our Sincerest apologies, something went wrong while processing your prompt.  
    </em>
    </font>
    </p>
    <center>
        <!--div class="b">
            <font style="font-family:verdana">
             Your Code =   {{userapikey}}
             </font>
        </div-->
    </center>
    <p>
    <font >
    Please return to homepage and try again!
    </font>
    </p>
    </center>
    <p></p>
    <p></p>
    <br></br>
    <center>
    <button onclick="location.href='{{ url_for('index') }}'"> <font > Back To Home </font> </button>
    <button onclick="location.href='{{ url_for('conversation_nm') }}'"> <font > Back To Conversation </font> </button>
    <br></br>
    <br></br>
    <p> Beta version {{app_version}} as of 
    <div id="current_date">
        <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
        </script>
    </div>
  </p>
    </center>

</body>