<!DOCTYPE html>
<html>
<head>
    <title> Promptlys FOUNDER </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='grid_profile.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
          gtag('config', 'G-9J9VF3JSJD');
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,zh-CN,zh-TW,ko,ja',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
          }, 'google_translate_element');
      }
    </script>
    <style>
        .text-grid {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 20px;
        }
        
        .text-box {
            /*width: calc(33.33% - 10px); */
            width: 600px; 
            height: 600px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            padding: 10px;
            margin: 0 auto; /* add this line */
        }
        .text {
          text-shadow: 0 1px 0 #ccc, 
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
        }
    </style>
</head>
<body bgcolor="#AFB9DB">
    <div class="container">
        <p>
            <center>
                <button class="btn" onclick="location.href='{{ url_for('founders_nm') }}'" style="font-size: inherit;"> NIGHT MODE </button>
            </center>
        </p> 
        <center>
            <p class="text">
                <font  color="#ffdf00", size="+4"> 
                <strong>
                Promptlys FOUNDER 
                </strong>
                </font>
            </p>
        </center>
        <br>  
        <div class="row">
            
            <img src="https://msfpfmwdawonueqaevru.supabase.co/storage/v1/object/public/img/ernieho.png" alt="Ernie Ho">
            <div class="textbox">
              <p>
                <font size="3">
                <strong> Ernie Ho - Founder </strong>
                <br>
                <br>
                Ernie Ho holds a Bachelor's degree in Computer Science from UC Berkeley and a Master's of Engineering in Computer Science from Cornell. 
                <br>
                <br>
                With over 10 years of software development experience, he has worked in various application software developer roles at EFI, Siebel, and Oracle. Later, Ernie transitioned into technical consulting positions at Oracle and Greensoft. 
                <br>
                <br>
                He then took on the role of VP of Product Strategy at CybEye, a solution provider that specializes in building custom white-label mobile app solutions for small and medium-sized businesses across industries.
                <br>
                <br>
                In the past 12 months, Ernie Ho discovered a common challenge with AI tools: many users struggle with proper prompting techniques. This often results in receiving correct yet generic responses, limiting the value and context they can extract from the tools. 
                <br>
                <br>
                This discovery sparked his interest in creating a social community where members can learn and share effective prompting methods for various topics.
                <br>
                <br>
                In April 2023, Promptlys was launched as a platform for users to contribute, share, and even monetize their prompt strategies.
                <br>
                Ernie maintains that with powerful AI tools available today, much of the heavy lifting has been taken care of. 
                <br>
                It is now up to humans to inject creativity, impart meaning, and create value through innovative applications at scale.
                <br>
                </font>
              </p>
            </div>
        </div>      
    </div>
<br>
<br>
<br>
<br>
<br>
<center>
    <span style="display: inline-block;">
        <sub> 
        <strong> 
            BETA Version {{app_version}} as of 
            <div id="current_date" style="font-size: inherit;">
            <script>
            date = new Date();
            year = date.getFullYear();
            month = date.getMonth() + 1;
            day = date.getDate();
            document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
            </script>
            </div>
        </strong>
        </sub>
    </span>
    <br></br>
    <br></br>
</center>
      
<center>
    <br></br>
    <font >
    <!--a href="https://square.link/u/NxKDrUfw" style="display: inline-block; text-align: center;">
        <img src="{{ url_for('static', filename='square-checkout.png') }}" alt="Support" style="width:50px;height:50px;">
        <div style="margin-top: 5px;">Your support is greatly appreciated !!</div>
    </a--> 
        <div style="text-align:center">
            <a href='{{ url_for('index') }}'> Home </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href='{{ url_for('founders') }}'> Founder </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            <a href='{{ url_for('advisory') }}'> Advisors </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            <a href='{{ url_for('mission') }}'> Mission </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            <a href='{{ url_for('community') }}'> Community </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            <a href='{{ url_for('terms') }}'> Terms </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            <a href='{{ url_for('privacy') }}'> Privacy </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </font>
</center>
<br>
<center>
<div id="google_translate_element"></div>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
         pageLanguage: 'en',
         includedLanguages: 'en,zh-CN,zh-TW,ko,ja',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
      }, 'google_translate_element');
   }
</script>
</center>
</body>
</html>