<!DOCTYPE html>
<html>
<head>
    <title>EHO AIGC Studio </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script>
      var copyBtn = document.getElementById("copy-btn");
      var textField = document.getElementById("apikey");

      copyBtn.addEventListener("click", function() {
      textField.select();
      document.execCommand("copy");
      });
    </script>
    <center>
    <h1 style="font-family:verdana">Welcome to Ernie Ho's AIGC Studio </h1>
    </center>
<center>
  <div style="padding: 20px;">
  <!--img src="https://cdn.midjourney.com/38ae22fb-5b43-4cc2-aae6-e7c27cfe1c8a/grid_0.png" alt="DJ-EHO" width="250" height="300"--->
  <img src="https://cdn.midjourney.com/d9833c6f-226b-4147-acb9-9ff8d0381115/grid_0.png" alt="DJ-EHO" width="250" height="300">
  </div>
</center>
<center>
  <!--button onclick="location.href='{{ url_for('night_mode') }}'">Night Mode</button-->
  <button onclick="location.href='{{ url_for('gallery') }}'"><font style="font-family:verdana" color="0x0000FF">View Gallery for more </font> </button>
  </center>
<center>
  <h2 style="font-family:verdana">
    Come try out EHO's Q&A AI Genie! 
  </h2>
</center>
<center>
<p style="font-family:verdana"> <sub> (built on OpenAI's Davinci Model Open Source Python Library available at <a href="https://github.com/openai/openai-python"> <font color="0x0000FF"> OpenAI Github </font> </a> ) </sub> </p>
<br>
<p style="font-family:verdana"> <font color="0x0000FF"> <bold> <strong> 1. Copy & Paste your VIP Code </strong> </bold> <br>
<sub> (** To obtain a VIP code please send an email request to <strong> dj.eho.no23@gmail.com </strong>, with your name and how you have found this service.  ) </sub> </font> </p>
<p style="font-family:verdana"> <font color="0x0000FF"> <bold> <strong> 2. Select desired Temperature Level </strong> </bold> <br>
  <sub> (** The Higher the Temperature,  The more Creative and Random the Responses ) </sub> </font> </p>
<p style="font-family:verdana"> <font color="0x0000FF"> <bold> <strong> 3. Enter your question in textbox below and click Submit!  </strong> </bold> <br>
<sub> (** Be as clear and descriptive as you can! The better your question, the better our response! ) </sub> </font> </p>
</center>
<p></p>
<form method="post">
  <center>
  <bold> <strong><font style="font-family:verdana"> Please Enter Your VIP Code Below: </font> </strong> </bold>
  </center>
  <center>
  <!--input name="apikey"/-->
  <!--input type="text" id="apikey" name="apikey" rows="4" cols="80"></input-->
  <div>
    <input type="text" id="apikey" name="apikey" maxlength="61" size="61"></input>
    <!--button id="copy-btn" class="btn btn-secondary"-->
        <!--i class="fa fa-copy"></i> Copy
    </button-->
  </div>
  <p></p>
  <label for="temperature"> <bold> <strong> <font style="font-family:verdana"> Choose Temperatue Level: </font> </strong> </bold> </label>
    <select name="temperature" id="temperature">
      <option value="Standard">Standard</option>
      <option value="High">High</option>
      <option value="Ultra">Ultra</option>
    </select>
  </center>
  <br></fr>
  <center>
  <bold> <strong> <font style="font-family:verdana"> Please State Your Question Below: </font> </strong> </bold>
  </center>
  <center>
  <!--input name="prompt"/-->
  <textarea id="prompt" name="prompt" rows="7" cols="50"></textarea>
  <br/><br/>
  </center>
  <center>
  <button type="submit"> <font style="font-family:verdana"> Submit </font> </button>
  </center>
  <center>
  <br></br>
  <p> Beta version 1.1 as of 
  <div id="current_date">
    <script>
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
    </script>
  </div>
  </p>
  </center>
</form>



</body>
</html>




