<!DOCTYPE html>
<html>
<head>
    <title>EHO AIGC Studio </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
      /* Add the styles for the button */
      .right-aligned-button {
        float: right; /* Float the button to the right */
      }
      .right-aligned-div {
        float: right; /* Float the button to the right */
      }

      .text {
          text-shadow: 0 1px 0 #ccc, 
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);
      }
      
      #progress-bar {
        width: 500px;
        height: 22px;
        border: 1px solid #FFD700;
        border-radius: 10px;
        overflow: hidden;
        display: none;
      }

      #progress-bar-fill {
        height: 100%;
        background-color: #b24141;
        width: 0%;
      }
    </style>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9J9VF3JSJD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9J9VF3JSJD');
    </script>

    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
          new google.translate.TranslateElement({
           pageLanguage: 'en',
           includedLanguages: 'en,zh-CN,zh-TW,ko,ja',
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
     }
    </script>
</head>
<body>
    <!--div class="right-aligned-div" id="google_translate_element"></div>
    <br></br>
    <br></br>
    <button class="right-aligned-button" onclick="google.translate.translate(document.body)">Translate</button--->
    <center>
    <!--h1 style="font-family:verdana" color="0xD4AF37"> WELCOME to EHO AI STUDIO 23 </h1-->
    <button onclick="location.href='{{ url_for('night_mode') }}'"><font style="font-family:verdana" color="0x0000FF">NIGHT MODE</font></button>
    <p class="text">
    <font face="Verdana, Geneva, sans-serif" color="#DB9200", size="+4"> 
    <strong>
    WELCOME TO EHO AI STUDIO 23
    </strong>
    </font>
    </p>
    <iframe width="400" height="200" src="https://www.youtube.com/embed/7lDGjqUmr1o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <font style="font-family:verdana" color="0x0000FF">
    <p>
      PROMPT OF THE DAY : 
    </p>
    <p>
      {{pod_prompt}}
    </p>
    </font>
    <br></br>
    </center>
<center>
  <div style="text-align:center">
    <a href="https://www.youtube.com/@EHO-AI-STUDIO.23"><img src="https://cdn.midjourney.com/46e99b15-ddc2-4905-b1f6-fdbb60798e71/grid_0.png" alt="STUDIO" style="display:inline-block" width="250" height="300" margin-right:10px"></a>
    <a href="https://youtube.com/shorts/YUnJ5Rzm3OU"><img src="https://cdn.midjourney.com/23370472-6030-4af6-a488-28ab0cce3a02/grid_0.png" alt="AI StoryCaster" style="display:inline-block" width="250" height="300" margin-right:10px"> </a>
    <a href="https://www.youtube.com/@EHO-AI-STUDIO.23"><img src="https://cdn.midjourney.com/813b31c4-ab13-4178-af32-b7ab9c1db2de/grid_0.png" alt="ROBOT" style="display:inline-block" width="250" height="300"></a>
  </div>
  
  </div>
</center>
<center>
  <!--button onclick="location.href='{{ url_for('night_mode') }}'">Night Mode</button-->
  <button onclick="location.href='{{ url_for('gallery') }}'"><font style="font-family:verdana" color="0x0000FF">View AIGC Gallery  </font> </button>
  </center>
<center>
  <h2 style="font-family:verdana" color="0xD4AF37">
    Come try out EHO's P&R (Prompt & Response) Genie. 
  </h2>
</center>
<center>
<p style="font-family:verdana"> <sub> (built on OpenAI's Davinci Model. Source available at <a href="https://github.com/openai/openai-python"> <font color="0x0000FF"> OpenAI Github </font> </a> ) </sub> </p>
<font style="font-family:verdana">
<p> 
  <strong> NOT Google Search. No more sifting through pages to locate what you are looking for. </strong>
</p>
</font>
<br>

<font style="font-family:verdana" color="0x0000FF">
<!--strong> How To Get Started? </strong-->
<p></p>
<p></p>
</font>

<font style="font-family:verdana" color="0x0000FF">

<strong> 1. SELECT DESIRED TEMPERATURE LEVEL </strong>
<br>
<sub>(** The Higher the Temperature,  The More Creative the Responses! **)</sub>
<br></br>

<strong> 2. ENTER YOUR PROMPT AND JUST WAIT ~2-3 SEC FOR OUR RESPONSE ! </strong>
<br>
<sub>(** Be as clear and descriptive as you can! The better your prompt, the better our response! **)</sub>
<br></br>

<strong> 3. IF YOU LIKE IT SO MUCH, JUST CLICK START CONVERSATION FOR MORE !! </strong>
<br></br>


</font>
</p> 

</center>
<br></br>
<form method="post">
  
  <center>

  <label for="temperature"> <bold> <strong> <font style="font-family:verdana"> Temperature Level: </font> </strong> </bold> </label>
    <select name="temperature" id="temperature">
      <option value="Standard">Standard</option>
      <option value="High">High</option>
      <option value="Ultra">Ultra</option>
    </select>
  </center>
  <br></fr>
  <center>
  <bold> <strong> <font style="font-family:verdana"> Your Prompt: </font> </strong> </bold>
  </center>
  <center>
  <!--input name="prompt"/-->
  <textarea id="prompt" name="prompt" rows="12" cols="70"></textarea>
  <br/><br/>
  </center>
  <center>
  <input type="submit" value="Submit" onclick="showProgress()">
  <!--button type="submit" onclick="showProgress()"></button>> <font style="font-family:verdana"> Submit </font> </button-->
  <div id="progress-bar">
    <label id="pbf-label"><font style="font-family:verdana" color="0x0000FF"> Wheels Turning ... </font></label>
    <div aria-labelledby="pdf-label" id="progress-bar-fill"></div>
  </div>
  <script>
    function showProgress() {
      document.getElementById("progress-bar").style.display = "block";
      var progress = 0;
      var progressInterval = setInterval(function() {
        progress += 10;
        document.getElementById("progress-bar-fill").style.width = progress + "%";
        if (progress >= 100) {
          clearInterval(progressInterval);
        }
      }, 1000);
    }
  </script>
  </center>
</form>

<center>
  <br></br>
  <button onclick="location.href='{{ url_for('conversation') }}'"><font style="font-family:verdana" color="0x0000FF">Start Conversation  </font> </button>
  <p> <font style="font-family:verdana"> Beta Version 1.8 as of 
  <div id="current_date">
    <script>
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
    </script>
  </div>
  </font>
  </p>
</center>

<center>
  <br></br>
  <a href="https://square.link/u/NxKDrUfw"> This site stays up and running only if our users find it valuable.  Your support is greatly appreciated ! </a>
  <a href="https://square.link/u/NxKDrUfw"><img src="{{ url_for('static', filename='square-checkout.png') }}" alt="Support" style="width:42px;height:42px;"></a>
  <font style="font-family:verdana">
    <div style="text-align:center">
      <a href='{{ url_for('terms') }}'> Terms</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href='{{ url_for('privacy') }}'> Privacy</a>
    </div>
  </font>
</center>

</body>
</html>




