<!DOCTYPE html>
<html>
<head>
    <title>Ernie Ho's AIGC Studio </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <center>
    <h1 style="font-family:verdana">Welcome to Ernie Ho's AIGC Studio </h1>
    </center>
<center>
  <div style="padding: 10px;">
  <img src="https://cdn.midjourney.com/38ae22fb-5b43-4cc2-aae6-e7c27cfe1c8a/grid_0.png" alt="DJ-EHO" width="250" height="300">
  </div>
</center>
<center>
  <!--button onclick="location.href='{{ url_for('night_mode') }}'">Night Mode</button-->
  <br></br>
  <button onclick="location.href='{{ url_for('gallery') }}'">View My AIGC Gallery</button>
  </center>
<center>
  <h2 style="font-family:verdana">
    Come try out my Q&A AI Genie 
  </h2>
</center>
<center>
<p style="font-family:verdana">(built on OpenAI's Davince-003 Model) </p>
</center>
<form method="post">
  <center>
  <br></br>
  <bold> <strong>Please Enter Your VIP Code Below: </strong> </bold>
  </center>
  <center>
  <!--input name="apikey"/-->
  <!--input type="text" id="apikey" name="apikey" rows="4" cols="80"></input-->
  <input type="text" id="apikey" name="apikey" maxlength="61" size="61"></input>
  <br/><br/>
  </center>
  <center>
  <br></br>
  <bold> <strong>Please State Your Question Below: </strong> </bold>
  </center>
  <center>
  <!--input name="prompt"/-->
  <textarea id="prompt" name="prompt" rows="7" cols="50"></textarea>
  <br/><br/>
  </center>
  <center>
  <button type="submit">Submit</button>
  </center>
</form>



</body>
</html>




