<body bgcolor="#AFB9DB">
    <head>
        <title>Ernie Ho's AIGC Studio </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <br>
    </br>
    <center>
    <p>
    <font style="font-family:verdana">
    <em class="ow-break-word">
    Thank you for trying out EHO's P&R AI Genie.  
    <p></p>
    Your P&R Transcript has been sent to {{useremail}}
    </em>
    </font>
    </p>
    </center>
    <p></p>
    <p></p>
    <br></br>
    <center>
    <button onclick="location.href='{{ url_for('index') }}'"> <font style="font-family:verdana"> Back To Home </font> </button>
    <br></br>
    <br></br>
    <p> Beta version 1.9 as of 
    <div id="current_date">
        <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
        </script>
    </div>
  </p>
    </center>

</body>