# requirements.txt 

aiohttp==3.8.3
openai==0.26.1
supabase-client==0.2.5
#flask-authlib==1.6.0
flask-authlib-client==0.0.1
google-cloud-storage==2.7.0
supabase==0.7.1
Flask==2.0.2
stability-sdk==0.3.1
Pillow==9.4.0