<body bgcolor="#C2CCED">
  <head>
      <title> EHO AI STUDIO No.23  </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <style>

        .text {
          text-shadow: 0 1px 0 #ccc, 
                   0 2px 0 #c9c9c9,
                   0 3px 0 #bbb,
                   0 4px 0 #b9b9b9,
                   0 5px 0 #aaa,
                   0 6px 1px rgba(0,0,0,.1),
                   0 0 5px rgba(0,0,0,.1),
                   0 1px 3px rgba(0,0,0,.3),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.25),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.15);
        }

      </style>
    
  </head>
  <br></br>
  <center>
    <p class="text">
      <font color="#ffdf00", size="+5"> 
      <strong>
      PRIVACY
      </strong>
      </font>
    </p>
  </center>
  <br></br>
  <center>
    <button class="btn" onclick="location.href='{{ url_for('index') }}'"> HOME </button>
    <br></br>
  </center>
  <p></p>
  <center>
  <font >
  <textarea readonly style="font-size: inherit"  color="#0000FF" id="textprompt" rows="20" cols="70">
    1. PERSONAL INFORMATION WE COLLECT

    We collect information that alone or in combination with other information in our possession could be used to identify you (“Personal Information”) as follows:
    
    Personal Information You Provide: We may collect Personal Information only with your explicit consent to creating an account, or to communicate with us as follows.
    
    Communication Information: If you communicate with us, we may collect your name, contact information, and the contents of any messages you send (“Communication Information”).

    Device information: Includes name of the device, operating system, and browser you are using. Information collected may depend on the type of device you use and its settings.

    Analytics: We may use a variety of online analytics products that use cookies to help us analyze how users use the Site and Services and enhance your experience when you use the Site and Services.
  
    2. HOW WE USE PERSONAL INFORMATION

    We may use Personal Information for the following purposes:

    To provide, administer, maintain, improve and/or analyze the Services;
    To conduct research, which may remain internal or may be shared with third parties, published or made generally available;
    To communicate with you;
    To develop new programs and services;
    To prevent fraud, criminal activity, or misuses of our Services, and to ensure the security of our IT systems, architecture, and networks; and
    To comply with legal obligations and legal process and to protect our rights, privacy, safety, or property, and/or that of our affiliates, you, or other third parties.
  
  
    3. SHARING AND DISCLOSURE OF PERSONAL INFORMATION

    We do NOT share any of your personal information with 3rd party services. 


    Please contact us at dj.eho.no23@gmail.com if you need to change or correct your Personal Information, 
    or if you have any questions or concerns not already addressed in this Privacy Policy.

  </textarea>
  </font>
  </center>
  <br></br>
  <p></p>
  <br></br>

  <center>
    <span style="display: inline-block;">
        <sub> 
        <strong> 
            BETA Version {{app_version}} as of 
            <div id="current_date" style="font-size: inherit;">
            <script>
            date = new Date();
            year = date.getFullYear();
            month = date.getMonth() + 1;
            day = date.getDate();
            document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
            </script>
            </div>
        </strong>
        </sub>
    </span>
</center>

<center>
    <br></br>
    <font>
    <a href="https://square.link/u/NxKDrUfw" style="display: inline-block; text-align: center;">
        <img src="{{ url_for('static', filename='square-checkout.png') }}" alt="Support" style="width:30px;height:30px;">
        <div style="margin-top: 5px;">Your support is greatly appreciated !!</div>
    </a> 
    <div style="text-align:center">
      <a href='{{ url_for('founders') }}'> Founder </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <a href='{{ url_for('advisory') }}'> Advisors </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <a href='{{ url_for('mission') }}'> Mission </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <a href='{{ url_for('terms') }}'> Terms </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <a href='{{ url_for('privacy') }}'> Privacy </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    </font>
</center>

</body>