<body bgcolor="#AFB9DB">
    <head>
        <title> EHO AI STUDIO No.23 </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <br>
    </br>
    <center>
    <p>
    <font>
    <em class="ow-break-word">
    Thank you for trying out EHO's P&R AI Genie.  
    <p></p>
    Your P&R Transcript has been sent to {{useremail}}
    </em>
    </font>
    </p>
    </center>
    <p></p>
    <p></p>
    <br></br>
    <center>
    <button class="btn" onclick="location.href='{{ url_for('index') }}'"> <font> HOME </font> </button>
    <br></br>
    <br></br>
    <center>
        <span style="display: inline-block;">
            <sub> 
            <strong> 
                BETA Version {{app_version}} as of 
                <div id="current_date" style="font-size: inherit;">
                <script>
                date = new Date();
                year = date.getFullYear();
                month = date.getMonth() + 1;
                day = date.getDate();
                document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
                </script>
                </div>
            </strong>
            </sub>
        </span>
        <br></br>
        <br></br>
    </center>
    </center>
</body>